body {
    font: 18px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    color: rgb(21, 151, 221);
  }
  
  ol, ul {
    padding-left: 60px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 2px solid rgb(0, 0, 0);
    float: left;
    font-size: 40px;
    font-weight: bold;
    line-height: 38px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: rgb(175, 175, 175);
  }
  
  .game {
    margin-top: 12%;
    margin-left: 40%;
    display: flex;
    flex-direction: column
  }
  
  .game-info {
    margin-left: 2%;
    margin-top: 5%;
  }
  